/* HTML elements  */
body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.5;
}

/* Heading */
.big-heading {
  font-weight: 900;
  font-size: 4rem;
}

.section-heading {
  font-size: 2.5rem;
  margin: 2rem;
}

/* IMPORTANT */

.container-fluid {
  padding: 7% 15%;
}
/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}
.white-section {
  background-color: #fff;
  color: black;
}
/* Navigation bar */

.nav-item {
  font-size: 1.3rem;
  padding: 0px 18px;
}
.navbar-brand {
  font-size: 2.5rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
.navbar {
  margin-bottom: 4.5rem;
}

/* Title */

.dog-img {
  transform: rotate(30deg);
  position: absolute;
  width: 60%;
  right: 20%;
}
.dog-img-container {
  position: relative;
}
.title-text {
  margin-bottom: 4.5rem;
}
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}
.download-btn-2 {
  margin-left: 20px;
}

@media (max-width: 1028px) {
  .dog-img {
    position: static;
    transform: rotate(0deg);
    width: 60%;
    margin-left: 0;
  }
  .dog-img-container {
    position: static;
  }
  #title {
    text-align: center;
  }
  .download-btn-2 {
    margin-left: 20px;
  }
}

@media (max-width: 1028px) and (min-width: 991px) {
  .download-btn-2 {
    margin-left: 0;
  }
}

/* Features */
#features {
  position: relative;
}
.icon-sec-1 {
  color: #ef8172;
  padding: 1.5rem;
}
.icon-sec-1:hover {
  color: #ff4c68;
}
.sec-1-col {
  padding: 5%;
}
.feature-title {
  font-size: 1.5rem;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
}
.testimonial-image {
  width: 150px;
  border-radius: 100%;
  margin: 0px 20px;
}
.testimonial-text {
  font-size: 2.5rem;
  margin: 2rem;
}

/* Press */
#press {
  padding-bottom: 20px;
  background-color: #ef8172;
}
.press-img {
  width: 240px;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 100px;
}
.pricing-col {
  padding: 3% 2%;
}
.card {
  height: 100%;
}
.card-footer {
  background: transparent;
  border-top: 0px;
  padding-bottom: 20px;
}
.price-text {
  font-size: 2.5rem;
  margin: 2rem;
}
.pricing-header-text {
  margin: 0;
}

/* CTA */
.cta-btn {
  margin: 20px;
}

/* Footer */
#footer {
  padding: 5% 0 2%;
}
.footer-icon {
  margin: 16px;
}
